<div>
  <div>Quantum Library</div>
  <div>Welcome to the Quantum Library</div>
  <div>Search for your books below</div>
  <.form :let={s} for={@search} action={~p"/library/search"} method={"get"}>
    <.input field={s[:query]} />
    <button type="submit">Search</button>
  </.form>
</div>
